@charset "UTF-8";

* {

    padding: 0px;
    margin: 0px;
}

body, html {
    width: 100vw;
    height: 95vh;
    background-image: linear-gradient(to top, rgb(37, 37, 192), rgb(64, 23, 102));
}

section {
    margin-top: 2em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

legend {
    font-weight: bolder;
}

form {
    background-color: rgb(84, 108, 201);
    color: aliceblue;
    margin: auto;
    border-radius: 10px;
    width: 70vw;
    max-width: 500px;
    padding: 20px;
}

label {
    display: block;
    text-align: center;
    margin-top: 15px
}

input {
    display: block;
    margin: auto;
    width: 250px;
    padding: 4px;
}

.container {
    display: flex;
    margin: auto; 
    margin-top: 20px;
    width: 250px;
    padding: 10px;
    gap: 10px; /* Adiciona um espaço entre os botões */
}

.error-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(184, 37, 37);
    font-size: 15px;
    font-weight: bold;
}